@model LocationVoiture.Models.Assurance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Debut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Debut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voiture.VoitureId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AssuranceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
