@model IEnumerable<LocationVoiture.Models.Assurance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voiture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voiture.VoitureId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssuranceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssuranceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssuranceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
